@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

// scss variables and mixins
$anmtn-ms: 200;
$main-sidespace: 48;
$max-width: 1080;

@mixin transition($prop: all, $dur: 1, $tim: linear, $del: 0) {
    transition-property: $prop;
    transition-duration: ($dur * $anmtn-ms) + ms;
    transition-timing-function: $tim;
    transition-delay: ($del * $anmtn-ms) + ms;
}

@mixin invert-bg-container {
    background-color: #000;
    mix-blend-mode: difference;
    filter: invert(1);
}


// general variable
:root {
    --primary-color: #e5e5e5;
    --off-color: #1A1A1A;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Press Start 2P', cursive;
}
a, a:visited, a:link { 
    color: inherit;
    text-decoration: none;
} 
button {
    border-radius: 0;
    border: 0;
    cursor: pointer;
}
:focus-visible{
    outline: none;
    opacity: .5
}
html, body{
    font-size: 16px;
    background-color: var(--primary-color);
    color: var(--off-color);
    @include transition((color, background-color));
    -ms-overflow-style: none;
    scrollbar-width: none;
}
::-webkit-scrollbar ,
::-webkit-scrollbar-thumb {
    height: 0;
    width: 0;
    background: transparent;
}

// components

// main css
.hero-content,
.fold-first-content,
.fold-second,
.fold-third,
.loading-screen{
    width: 100%;
    min-height: calc(var(--vh) * 100);
}
.fold-second{
    overflow: hidden;
    .slides{
        display: flex;
        width: 100%;
        &__item{
            flex-shrink: 0;
            width: 100%;
            height: 500px;
        }
    }
}
.fold-third{
    overflow: hidden;
    position: relative;
    padding: calc(var(--vh) * 25) ($main-sidespace + px);
    .content{
        position: relative;
        max-width: ($max-width + px);
        margin-left: auto;
        margin-right: auto;
        &__title{
            text-align: center;
            font-size: 2rem;
            color: #000;
            mix-blend-mode: difference;
            filter: invert(1);
        }
        .xp{
            display: flex;
            flex-flow: column;
            width: 342px;
            margin-top: calc(var(--vh) * 10);
            margin-bottom: calc(var(--vh) * 10);
            &__year{
                display: flex;
                align-items: flex-end;
                grid-gap: .5rem;
                margin-bottom: .75rem;
                strong{
                    font-size: 5rem;
                    text-shadow: -2px -2px 0 var(--primary-color), 2px -2px 0 var(--primary-color), -2px 2px 0 var(--primary-color), 2px 2px 0 var(--primary-color);
                }
                .--active{
                    margin-bottom: .5rem;
                    p{
                        font-size: 1.5rem;
                        text-transform: uppercase;
                        text-shadow: -2px -2px 0 var(--primary-color), 2px -2px 0 var(--primary-color), -2px 2px 0 var(--primary-color), 2px 2px 0 var(--primary-color);
                    }
                    span{
                        font-size: 14px;
                        text-shadow: -2px -2px 0 var(--primary-color), 2px -2px 0 var(--primary-color), -2px 2px 0 var(--primary-color), 2px 2px 0 var(--primary-color);
                    }
                }
            }
            &__jobtitle{
                font-size: 14px;
                text-transform: capitalize;
                color: var(--primary-color);
                background-color: var(--off-color);
                text-align: center;
                padding: .75rem;
            }
            &__company{
                font-size: 14px;
                line-height: 1.5;
                text-transform: capitalize;
                padding: 1.25rem 2rem;
                border: 4px solid var(--off-color);
                background-color: var(--primary-color);
            }
        }
        & .xp:nth-child(even){
            margin-left: auto;
        }
    }
}
.fold-last{
    min-height: calc(var(--vh) * 10);
}
.infocard{
    position: fixed;
    background-color: #000;
    mix-blend-mode: difference;
    filter: invert(1);
    @include transition((bottom, right, height, width, 3));
    width: 76px;
    height: 52px;
    bottom: 40px;
    right: ($main-sidespace + px);
    &.--expand{
        width: 100%;
        height: calc(var(--vh) * 100);
        bottom: 0;
        right: 0;
        background-color: var(--off-color);
        mix-blend-mode: normal;
        filter: none;
    }
}
.loading-screen{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--off-color);
    @include transition(top, 1, ease-in-out);
    &.--closed{
        top: calc(var(--vh) * -100);
    }
}
.loading-icon{
    width: 20px;
    height: 52px;
    background-color: transparent;
    border: 3px solid var(--primary-color);
    position: relative;
    &::after{
        content: "";
        position: absolute;
        top: 0;
        width: 100%;
        height: 0;
        background-color: var(--primary-color);
        animation: growHeight 2s linear infinite alternate;
    }
}
.pagination{
    position: fixed;
    top: 50%;
    transform: translate(-200%, -50%);
    left: ($main-sidespace + px);
    display: grid;
    flex-flow: column;
    grid-gap: 12px;
    width: 12px;
    background: transparent;
    mix-blend-mode: difference;
    @include transition((top));
    &__item{
        height: 20px;
        width: 12px;
        @include transition((height));
        &.--active{
            height: 120px;
            cursor: auto;
        }
        &:not(.--active):hover, &:not(.--active):focus{
            height: 28px;
        }
    }
}
.cloud {
    position: absolute;
    rect{
        fill: var(--off-color);
    }
    &.--a0{
        top: 0;
        right: 5%;
        width: 300px;
    }
    &.--a1{
        left: 20%;
        top: 20%;
        width: 200px;
    }
    &.--a2{
        left: 10%;
        bottom: 10%;
        width: 500px;
    }
    &.--b0{
        left: 15%;
        
        top: 10%;
        width: 80px;
    }
    &.--b1{
        left: 30%;
        top: 18%;
        width: 100px;
    }
    &.--b2{
        left: 0;
        top: 50%;
        transform: translateX(-60%);
        width: 100px;
    }
    &.--b3{
        left: 25%;
        bottom: 5%;
        width: 100px;
    }
    &.--b4{
        right: 10%;
        
        top: 59%;
        width: 100px;
    }
}

.me{ 
    path{
        fill: var(--off-color);
    }
   &.--falling{
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(0,-100%);
    svg{
        width: Max( 7vw,80px);
    }
    .head{
        animation: shakinghead .4s alternate infinite;
    }
    .rhand, .lhand{
        animation: shakingright .4s alternate infinite;
    }
   }
}
//keyframes
@keyframes growHeight {
    to {height: 100%;}
 }
@keyframes shakinghead {
    from {transform: translateX(-2%) rotate(1deg);}
    to {transform: translateX(2%) rotate(-2deg);}
 }
@keyframes shakingright {
    from {transform: translateX(5%);}
    to {transform: translateX(-5%);}
 }
