@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
:root {
  --primary-color: #e5e5e5;
  --off-color: #1A1A1A;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Press Start 2P', cursive;
}

a, a:visited, a:link {
  color: inherit;
  text-decoration: none;
}

button {
  border-radius: 0;
  border: 0;
  cursor: pointer;
}

:focus-visible {
  outline: none;
  opacity: .5;
}

html, body {
  font-size: 16px;
  background-color: var(--primary-color);
  color: var(--off-color);
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
  -webkit-transition-duration: 200ms;
          transition-duration: 200ms;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  -webkit-transition-delay: 0ms;
          transition-delay: 0ms;
  -ms-overflow-style: none;
  scrollbar-width: none;
  cursor: none;
}

::-webkit-scrollbar,
::-webkit-scrollbar-thumb {
  height: 0;
  width: 0;
  background: transparent;
}

.btn {
  position: relative;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: .75rem 1.25rem;
  border: 3px solid var(--off-color);
}

.btn > span {
  position: relative;
  color: #000;
  mix-blend-mode: difference;
  -webkit-filter: invert(1);
          filter: invert(1);
}

.btn::before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 0;
  background-color: var(--off-color);
  -webkit-transition-property: height;
  transition-property: height;
  -webkit-transition-duration: 200ms;
          transition-duration: 200ms;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  -webkit-transition-delay: 0ms;
          transition-delay: 0ms;
}

.btn:hover::before {
  height: 100%;
}

.me-space {
  width: 100px;
  height: 170px;
}

.hero-content,
.fold-first-content,
.fold-second,
.fold-third {
  width: 100%;
  min-height: calc(var(--vh) * 100);
}

.hero-content {
  margin: 0 auto;
  max-width: 1080px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-content__name {
  color: var(--off-color);
  font-size: 3rem;
  margin-top: 2.25rem;
  margin-bottom: 1.5rem;
}

.hero-content__jobtitle {
  font-size: 1rem;
  margin-bottom: 2.25rem;
}

.hero-content .btn {
  font-size: 14px;
}

.fold-first-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.fold-first-content .description {
  margin-top: calc(var(--vh) * 10);
  background-color: var(--off-color);
  width: 100%;
  -webkit-box-shadow: 0 0 0 4px var(--primary-color), 0 0 0 8px var(--off-color);
          box-shadow: 0 0 0 4px var(--primary-color), 0 0 0 8px var(--off-color);
  padding: 1.25rem;
}

.fold-first-content .description__container {
  max-width: 640px;
  margin: 0 auto;
}

.fold-first-content .description__item {
  color: var(--primary-color);
  line-height: 1.5;
  padding: .75rem 0 .75rem 1.75rem;
  cursor: pointer;
  position: relative;
}

.fold-first-content .description__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  width: .75rem;
  background-color: var(--primary-color);
  -webkit-transition-property: height;
  transition-property: height;
  -webkit-transition-duration: 200ms;
          transition-duration: 200ms;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  -webkit-transition-delay: 0ms;
          transition-delay: 0ms;
}

.fold-first-content .description__item > div {
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 200ms;
          transition-duration: 200ms;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  -webkit-transition-delay: 0ms;
          transition-delay: 0ms;
}

.fold-first-content .description__item:hover > div, .fold-first-content .description__item.--active > div {
  -webkit-transform: translateX(8px);
          transform: translateX(8px);
}

.fold-first-content .description__item.--active::before {
  height: 100%;
}

.fold-second {
  overflow: hidden;
}

.fold-second .slides {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.fold-second .slides__item {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 100%;
  height: 500px;
}

.fold-third {
  overflow: hidden;
  position: relative;
  padding: calc(var(--vh) * 25) 48px;
}

.fold-third .content {
  position: relative;
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
}

.fold-third .content__title {
  text-align: center;
  font-size: 2rem;
  color: #000;
  mix-blend-mode: difference;
  -webkit-filter: invert(1);
          filter: invert(1);
}

.fold-third .content .xp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  width: 342px;
  margin-top: calc(var(--vh) * 10);
  margin-bottom: calc(var(--vh) * 10);
}

.fold-third .content .xp__year {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  grid-gap: .5rem;
  margin-bottom: .75rem;
}

.fold-third .content .xp__year strong {
  font-size: 5rem;
  text-shadow: -2px -2px 0 var(--primary-color), 2px -2px 0 var(--primary-color), -2px 2px 0 var(--primary-color), 2px 2px 0 var(--primary-color);
}

.fold-third .content .xp__year .--active {
  margin-bottom: .5rem;
}

.fold-third .content .xp__year .--active p {
  font-size: 1.5rem;
  text-transform: uppercase;
  text-shadow: -2px -2px 0 var(--primary-color), 2px -2px 0 var(--primary-color), -2px 2px 0 var(--primary-color), 2px 2px 0 var(--primary-color);
}

.fold-third .content .xp__year .--active span {
  font-size: 14px;
  text-shadow: -2px -2px 0 var(--primary-color), 2px -2px 0 var(--primary-color), -2px 2px 0 var(--primary-color), 2px 2px 0 var(--primary-color);
}

.fold-third .content .xp__jobtitle {
  font-size: 14px;
  text-transform: capitalize;
  color: var(--primary-color);
  background-color: var(--off-color);
  text-align: center;
  padding: .75rem;
}

.fold-third .content .xp__company {
  font-size: 14px;
  line-height: 1.5;
  text-transform: capitalize;
  padding: 1.25rem 2rem;
  border: 4px solid var(--off-color);
  background-color: var(--primary-color);
}

.fold-third .content .xp:nth-child(even) {
  margin-left: auto;
}

.fold-last {
  min-height: calc(var(--vh) * 10);
}

.infocard {
  position: fixed;
  background-color: #000;
  mix-blend-mode: difference;
  -webkit-filter: invert(1);
          filter: invert(1);
  -webkit-transition-property: bottom, right, height, width, 3;
  transition-property: bottom, right, height, width, 3;
  -webkit-transition-duration: 200ms;
          transition-duration: 200ms;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  -webkit-transition-delay: 0ms;
          transition-delay: 0ms;
  width: 76px;
  height: 52px;
  bottom: 40px;
  right: 48px;
}

.infocard.--expand {
  width: 100%;
  height: calc(var(--vh) * 100);
  bottom: 0;
  right: 0;
  background-color: var(--off-color);
  mix-blend-mode: normal;
  -webkit-filter: none;
          filter: none;
}

.loading-screen {
  min-height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--off-color);
  -webkit-transition-property: top;
  transition-property: top;
  -webkit-transition-duration: 200ms;
          transition-duration: 200ms;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  -webkit-transition-delay: 0ms;
          transition-delay: 0ms;
}

.loading-screen.--closed {
  min-height: calc(var(--vh) * 100);
  top: calc(var(--vh) * -100);
}

.loading-icon {
  width: 20px;
  height: 52px;
  background-color: transparent;
  border: 3px solid var(--primary-color);
  position: relative;
}

.loading-icon::after {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 0;
  background-color: var(--primary-color);
  -webkit-animation: growHeight 2s linear infinite alternate;
          animation: growHeight 2s linear infinite alternate;
}

.pagination {
  position: fixed;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  left: 48px;
  display: -ms-grid;
  display: grid;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  grid-gap: 12px;
  width: 12px;
  background: transparent;
  mix-blend-mode: difference;
  -webkit-transition-property: top;
  transition-property: top;
  -webkit-transition-duration: 200ms;
          transition-duration: 200ms;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  -webkit-transition-delay: 0ms;
          transition-delay: 0ms;
}

.pagination__item {
  height: 20px;
  width: 16px;
  -webkit-transition-property: height;
  transition-property: height;
  -webkit-transition-duration: 200ms;
          transition-duration: 200ms;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  -webkit-transition-delay: 0ms;
          transition-delay: 0ms;
}

.pagination__item.--active {
  height: 120px;
}

.pagination__item:not(.--active):hover, .pagination__item:not(.--active):focus {
  height: 28px;
}

.cloud {
  position: absolute;
}

.cloud rect {
  fill: var(--off-color);
}

.cloud.--a0 {
  top: 0;
  right: 5%;
  width: 300px;
}

.cloud.--a1 {
  left: 20%;
  top: 20%;
  width: 200px;
}

.cloud.--a2 {
  left: 10%;
  bottom: 10%;
  width: 500px;
}

.cloud.--b0 {
  left: 15%;
  top: 10%;
  width: 80px;
}

.cloud.--b1 {
  left: 30%;
  top: 18%;
  width: 100px;
}

.cloud.--b2 {
  left: 0;
  top: 50%;
  -webkit-transform: translateX(-60%);
          transform: translateX(-60%);
  width: 100px;
}

.cloud.--b3 {
  left: 25%;
  bottom: 5%;
  width: 100px;
}

.cloud.--b4 {
  right: 10%;
  top: 59%;
  width: 100px;
}

.me {
  mix-blend-mode: difference;
  -webkit-filter: invert(1);
          filter: invert(1);
}

.me path {
  fill: #000;
}

.me.--falling {
  position: fixed;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -100%);
          transform: translate(-50%, -100%);
}

.me.--falling svg {
  width: Max(7vw, 80px);
}

.me.--falling .head {
  -webkit-animation: shakinghead .4s alternate infinite;
          animation: shakinghead .4s alternate infinite;
}

.me.--falling .rhand, .me.--falling .lhand {
  -webkit-animation: shakingright .4s alternate infinite;
          animation: shakingright .4s alternate infinite;
}

.cursor {
  position: fixed;
  background-color: transparent;
  border: 4px solid #000;
  mix-blend-mode: difference;
  -webkit-filter: invert(1);
          filter: invert(1);
  width: .5rem;
  height: .5rem;
  z-index: 1;
  -webkit-transition: 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity, 0.3s cubic-bezier(0.75, -1.27, 0.3, 2.33) -webkit-transform;
  transition: 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity, 0.3s cubic-bezier(0.75, -1.27, 0.3, 2.33) -webkit-transform;
  transition: 0.3s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform, 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity;
  transition: 0.3s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform, 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity, 0.3s cubic-bezier(0.75, -1.27, 0.3, 2.33) -webkit-transform;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.cursor.active {
  opacity: 0.5;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.cursor-follower {
  position: fixed;
  background-color: transparent;
  border: 4px solid #000;
  mix-blend-mode: difference;
  -webkit-filter: invert(1);
          filter: invert(1);
  width: 40px;
  height: 40px;
  z-index: 1;
  -webkit-transition: height 0.6s, width 0.6s, -webkit-transform 0.6s;
  transition: height 0.6s, width 0.6s, -webkit-transform 0.6s;
  transition: height 0.6s, width 0.6s, transform 0.6s;
  transition: height 0.6s, width 0.6s, transform 0.6s, -webkit-transform 0.6s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
  -webkit-transform: translate(5px, 5px);
          transform: translate(5px, 5px);
}

.cursor-follower.active {
  height: 0;
  width: 0;
  -webkit-transform: translate(200%, 200%);
          transform: translate(200%, 200%);
}

@-webkit-keyframes growHeight {
  to {
    height: 100%;
  }
}

@keyframes growHeight {
  to {
    height: 100%;
  }
}

@-webkit-keyframes shakinghead {
  from {
    -webkit-transform: translateX(-2%) rotate(1deg);
            transform: translateX(-2%) rotate(1deg);
  }
  to {
    -webkit-transform: translateX(2%) rotate(-2deg);
            transform: translateX(2%) rotate(-2deg);
  }
}

@keyframes shakinghead {
  from {
    -webkit-transform: translateX(-2%) rotate(1deg);
            transform: translateX(-2%) rotate(1deg);
  }
  to {
    -webkit-transform: translateX(2%) rotate(-2deg);
            transform: translateX(2%) rotate(-2deg);
  }
}

@-webkit-keyframes shakingright {
  from {
    -webkit-transform: translateX(5%);
            transform: translateX(5%);
  }
  to {
    -webkit-transform: translateX(-5%);
            transform: translateX(-5%);
  }
}

@keyframes shakingright {
  from {
    -webkit-transform: translateX(5%);
            transform: translateX(5%);
  }
  to {
    -webkit-transform: translateX(-5%);
            transform: translateX(-5%);
  }
}
/*# sourceMappingURL=style.css.map */